@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
body{
    background-color: lavender;
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    padding: 7px;
    height: 100vh;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    overflow-y: scroll;
    min-width: 310px;
}

.star1 {
    height: 45px;
    width: 45px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.star2 {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 63px;
    top: 20px;
}
.star3 {
    height: 35px;
    width: 35px;
    position: absolute;
    right: 32px;
    top: 50px;
}
.top {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    /* position: sticky; */
}
input {
    width: 190px;
    min-width: 145px;
    height: 20px;
    margin-right: 150px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 6px;
}

h1 {
    margin: 0 0 3px 0;
    font-size: 1.3rem;
}
small {
    font-size: 0.8rem;
}
::placeholder {
    color: lightgrey;
    opacity: 1;
}
input:focus::-webkit-input-placeholder { 
color: transparent !important;
}

button {
    width: 60px;
    height: 20px;
    font-size: 9px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
}

#content {
    margin: 0;
    width: 0;
}