
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background: lemonchiffon;
    height: 800px;
    width: 800px;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    border-radius: 50%;
    

}

.img {
    position: absolute;
    /* border: 1px solid black; */
    width: 200px;
    height: 100px;
    top: 48px;
    left: 200px;
    
}
img{
    width: 400px;
    height: 200px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    background: #D76D77; 
    border-radius: 0% 0% 50% 50% ;
  
   
}

.btn-set {
    height: 100px;
    width: 350px;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
}
button {
    width: 300px;
    height: 35px;
    padding: 0px 10px;
    margin: 50px 6px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    /* border: 1px solid #fff; */
    
}
#start, #stop, #reset {
    padding: 0px 10px;
    margin: 10px 6px;
    
}
.time {
    background: #FFAF7B;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 50% 50% 0% 0%;

}